[Desktop Entry]
Encoding=UTF-8
Name=Clonecoin
Comment=Clonecoin P2P Cryptocurrency
Comment[fr]=Clonecoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Clonecoin, eşten eşe kriptografik sanal para birimi
Exec=clonecoin-qt %u
Terminal=false
Type=Application
Icon=clonecoin128
MimeType=x-scheme-handler/clonecoin;
Categories=Office;Finance;
