[Unit]
Description=CCoin's distributed currency daemon
After=network.target

[Service]
User=clonecoin
Group=clonecoin

Type=forking
PIDFile=/var/lib/clonecoind/clonecoind.pid
ExecStart=/usr/bin/clonecoind -daemon -pid=/var/lib/clonecoind/clonecoind.pid \
-conf=/etc/clonecoin/clonecoin.conf -datadir=/var/lib/clonecoind

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
